.profile-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    padding: 15% 15%;
    align-items: center;
}

.card {
    align-items: center;
    height: 100vh;
}

p img {
    height: 5em;
    width: auto;
}

#imagear {
    position: relative;
}

#imagear-popup {
    visibility: hidden;
    width: 60px;
    object-fit: cover;
    border-radius: 15%;

    /* position popup */
    position: absolute;
    bottom: 110%;
    z-index: 1;
}

#imagear:hover #imagear-popup {
    visibility: visible;
}

#imagecs {
    position: relative;
}

#imagecs-popup {
    visibility: hidden;
    width: 60px;
    object-fit: cover;
    border-radius: 15%;

    /* position popup */
    position: absolute;
    bottom: 110%;
    z-index: 1;
}

#imagecs:hover #imagecs-popup {
    visibility: visible;
}